body.home {
  .button {
    @include button-main;
    @include main-button-style;
  }
  h1,
  h2 {
    @media (min-width: 991px) {
      font-size: 40px;
    }
  }
  .section-valores {
    .title-line {
      h2 {
        margin-bottom: 50px !important;
        &:after {
          bottom: -25px !important;
        }
      }
    }

    p {
      strong {
        color: $color-main;
      }
    }
    .wpb_wrapper p strong {
      display: block;
      padding: 15px 0 0 0;
    }
    .vc_col-xs-9 .wpb_wrapper p strong {
      display: block;
      padding: 5px 0 0 0;
    }
  }
}
