@mixin bootstrap-buttons {
    // Buttons bootstrap default
    $buttons: (
        primary:    ( $color-main, $white, $color-main),
        info:       ( $color-main,$white, $color-main),
        default:    ( $color-main, $white, $color-main),
        success:    ( $success, $white, $success),
        warning:    ( $warning, $white, $warning),
        danger:     ( $danger, $white,$danger),
        light:      ( $light,$color-default, $light),
        dark:       ( $color-default,$white, $color-default),
        plarepi:    ($color-secondary, #7A621A, $color-secondary)
        );

    /* Main button style */
    $selectores: '[class*="vc_btn"][class*="style"], .btn';

    #{$selectores} {
        @include main-button-style;
    }

    /* main buttons: bootstrap*/
    .btn {
        &.btn {
            @each $name, $colors, $border in $buttons {
                $bgcolor: nth($colors, 1);
                $fontcolor: nth($colors, 2);
                $border-color: nth($colors, 3);
                &-#{$name} {
                    background: $bgcolor;
                    color: $fontcolor;
                    border-color: $border-color;
                    &:hover, &:active,&:focus, &:hover:focus {
                        background: darken($bgcolor, 8%);
                        color: $fontcolor;
                        border-color: darken($border-color, 8%);
                    }
                }
            }
        }
    }

    /* buttons adicionales */
    #{$GLOBAL} #{$selectores} {
        @include set-new-button-style($color-main, $white, $color-main);
        @include set-new-button-hover(darken($color-main, 8%),$white, darken($color-main, 8%));

        &[class*="black"] {
            @include set-new-button-style($color-default, $white, $color-default);
            @include set-new-button-hover(lighten($color-default, 5%),$white,lighten($color-default, 5%));
        }
    }
}
