$headings-size: (
  1: 38,
  2: 34,
  3: 28,
  4: 24,
  5: 18,
  6: 16
);

/* style */
%headings {
  @include headings(0 auto 20px, null, null);
  @include font-family(2);
  color: $color-default;
}

/* each */
#{$GLOBAL} {
  @each $name, $value in $headings-size {
    h#{$name} {
      font-size: ($value / strip-unit($font-size)) + 0em;
      @extend %headings;
    }
  }
  .site-content {
    h1 {
      position: relative;
    }
    h3,
    h4 {
      color: $color-main;
    }
  }
}
body[class] {
  .title-line {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px !important;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px !important;
        width: 80px;
        height: 1px;
        background-color: $gray;
      }
    }
  }
}
