
body.search-open {
    @extend %OVERFLOW;
}

div.search-form {
    @include z-index(search-form);
    @include transition(400ms, all, ease-in-out);
    @include flexbox;
    @include align-items(center);
    padding: 10px;
    clear: both;
    float: none;
    width: 100%;
    position: absolute; // fixed;
    top: -100%;
    left: 0;
    max-width: none;
    height: auto;
    visibility: visible;
    background: darken($light, 5%);

    // DIV DEL FORM & ESTILO
    #ajaxsearchpro1_1.ajaxsearchpro {
        .probox {
            // button search
            .promagnifier {
                background-color: $color-main;
                padding: 0;
                margin: 0;
                width: 80px;
                @include justify-content(center);
                .asp_text_button {
                    color: $white !important;
                } 
                @include media-breakpoint($media-xs) {
                    width: 120px;
                }
            }

            // input
            .proinput {
                form {
                    input.orig {
                        color: $color-base;
                    }
                }
            }
        }
    }



    &.search-is-open {
        top: 60px;
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        @include media-breakpoint($media-xs) {
            top: 90px;
        }
    }

    // BUTTON
    .close-search {
        @include z-index(close-search);
        @include padding(0);
        @include flexbox;
        @include block-size(28px);
        @include text-shadow(0 1px 0 $white);
        @include fs(18px);
        cursor: pointer;
        position: relative;
        cursor: pointer;
        display: block;
        position: relative;
        @include z-index(null)
        color: $color-text;
        opacity: 1;
        margin: {
            top: 0;
            bottom: 0;
            left: auto;
            right: 5px;
        }
        cursor: pointer;
        &:hover, &:active, &:focus {
            background-color: darken($white, 3%);
        }
        span {
            @include block-size(100%);
            display: block;
            line-height: 28px;
            text-align: center;
        }
    }



    // DIV DEL FORM
    #ajaxsearchpro1_1, #ajaxsearchpro1_2, div.asp_m.asp_m_1 {
        @include z-index(ajaxsearchpro);
        @include border-radius(5px);
        position: relative;
        max-width: 580px;
        margin: 0 auto;
        border: 0px;
        height: 50px;
        margin-right: 10px;
        div.probox {
            @include margin(0);
            height: 100%;

            /* new */
            margin: 0;
            height: 100%;

            background: $light;
            @include flexbox;
            @include align-items(stretch);
            /* end new */



            // button search
            .promagnifier { 
                height: auto;
                margin: 0;
                top: auto;
                @include flexbox;
                @include align-items(center);
            }

            // Input
            .proinput {
                margin: 0;
                @include text-shadow(none);
            }

            .promagnifier {
                /*
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 5px;
                border-left: solid 1px gris(30);
                height: 40px;
                position: relative;
                top: 5px;
                */

                > div {
                    &.innericon, &.asp_clear { 
                        height: 100%;
                    }
                }
            }

            // close
            .proclose, .proloading {
                height: 100%;
                max-height: none;
            }

            // loader
            div.proloading  {
                @include padding(0);
                .asp_loader {
                    height: 100%;
                    max-height: none;
                    .asp_loader-inner {
                        > div {
                            position: relative;
                            top: 50%;
                            height: 20px;
                            margin-top: -8px;
                        }
                    }
                }
            }

            // input
            .proinput {
                form {
                    position: relative;
                    height: 100% !important;
                    input[type] {
                        &.orig, &.autocomplete {
                            height: 100% !important;
                            padding: 0 15px !important;
                            @include fs(15px);
                            border: none !important;
                            line-height: 50px;
                            max-height: none;
                            margin: 0 !important;
                        }
                        &.orig {
                            color: $black;
                        } 
                        &.autocomplete {
                            position: absolute;
                            top: 0;
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    // OVERLAY
    .search-overlay {
        @include overlay(0, fixed, 100%, 100vh, transparent);
        @include z-index(search-overlay);
        visibility: hidden;

        // cuando está open
        @at-root .search-open & {
            visibility: visible;
        } 
    }

}


/* Resultados de la busqueda */
#ajaxsearchprores1_1  {
    div.results {
        .mCustomScrollBox {
            .resdrg {
                div.item  {
                    @include flexbox;
                    @include align-items(center);
                    margin-bottom: 4px;
                    > div {
                        width: 100%;
                        h3 {
                            a.asp_res_url {
                                span.highlighted {
                                    color: $color-default;
                                }
                            }
                        }
                    }
                    h3  {
                        a {
                            color: $color-main;
                            .highlighted {
                                color: $color-default;
                            }
                        }   
                    }
                    a {

                    }
                }  
                div.asp_spacer {
                    margin-bottom: 2px !important;
                }
            }
        }
    } 
    p.showmore {
        a.asp_showmore {
            @include transition;
            background: $color-main;
            color: $white;
            font-weight: $font-regular;
            border: none;
            span {
                position: relative;
                display: inline-block;
                &:after {
                    margin-left: 6px;
                    display: inline-block;
                    @include font-awesome('\f105');
                    position: static;
                }
            }
            // hover
            &:hover, &:active, &:focus {
                background-color: darken($color-main, 5%);
                color: $white;
            }
        }
    }
} 
#ajaxsearchprores1_1.vertical .results .item .asp_content {
    h4 {
        font-size: 14px;
        font-weight: $font-regular;
    }
}

/* scrollbar */
[id*="ajaxsearchprores1_"].asp_w.ajaxsearchpro .mCustomScrollBox .mCSBap_scrollTools {
    opacity: 1;
}


/* Icono */
#{$GLOBAL} {
    #ajaxsearchpro1_1 .probox .promagnifier .innericon svg, 
    #ajaxsearchpro1_2 .probox .promagnifier .innericon svg, 
    div.asp_m.asp_m_1 .probox .promagnifier .innericon svg {
        fill: $white;
    }   
}