#content {
	@include padding(30px 0);
	.border-right {
		border-right: 1px solid $gray;
		@media (max-width: 767px) {
			border-right: 0;
		}
	}
	.section-iconos {
		.wpb_content_element {
			.wpb_wrapper {
				p {
					padding: 0 10px;
					@media (max-width: 767px) {
						padding: 0;
					}
				}
			}
		}
	}
}

body.error404,
body.search {
	.site-main {
		margin: auto;
		max-width: 1140px;
		@include padding(0 15px);
	}

	form.search-form {
		max-width: 640px;

		.btn {
			max-width: 250px;
		}
	}
}