.site-footer {
	&-copy {
		background: black;

		.copy {
			p {
				color: $color-secondary;
				margin: 5px 0;
			}
		}

		.logo-baum {
			figure {
				margin-bottom: 0;
			}

			#baum_letter {
				fill: #fff;
			}
		}
	}
}
