/* ## DEFINE EL ESTILO DE LOS PLACEHOLDER */
@include placeholder {
  text-align: left;
}

$types: ("tel", "number", "text", "password", "email", "url");
$textarea: (
  "min-height: 80px",
  "height:auto",
  "resize: vertical",
  "border: solid 1px $color-gris-25",
  "outline: none"
);

form {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// .woocommerce-page,
// .woocommerce {
form {
  width: 100%;
  label {
    display: block;
    max-width: 100%;
    width: 100%;
    font-family: $font-primary;
    font-weight: $font-semibold;
    color: $gray;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    min-height: 40px;
    // common
    @each $name in $types {
      // &.input-text {
      &[type="#{$name}"] {
        @include form-input-style(
          0 10px,
          solid 1px $color-gris-25,
          $color-text,
          $white,
          $font-light,
          5px,
          14px,
          $forms-line-height,
          400ms
        );
        @include box-shadow(none);
        width: 100%;
        outline: none;
        &:hover,
        &:active {
          outline: none;
          @include box-shadow(none);
        }
        &:focus {
          outline: none;
          @include box-shadow(0 0 20px 0 rgba($color-main, 0.15));
        }
      }
    }
  }

  textarea {
    @include padding(10px);
    @include em(12px);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    width: 100%;
    min-height: 80px;
    height: auto;
    resize: vertical;
    border: solid 1px $color-gris-25;
    border-radius: 5px;
    outline: none;
    color: $color-text;
    font-weight: $font-light;
    &:hover,
    &:active {
      outline: none;
      @include box-shadow(none);
      border: solid 1px $color-default;
    }
    &:focus {
      outline: none;
      @include box-shadow(0 0 20px 0 rgba($color-main, 0.15));
      border: solid 1px $color-main;
    }
  }

  &.checkout {
    .form-row {
      &:not([class*="form-row-"]) {
        clear: both;
      }

      label {
        + span,
        + strong {
          display: block;
        }
      }
    }
  }
}
// }
