/*
**
**
**
**
**
**
**  <header>
*/

$logosize: 150px;
.site-header {
    background: $color-main;
    padding: 20px 0;

    // logo
    &-logo {
        display: block;
        width: $logosize;

        @include media-breakpoint($media-xs) {
            padding-right: 20px;
            // width: $logosize;
        }
        a {
            display: block;
        }

        img {
            @extend %max-width-none;
        }
    }
}
