/*
=== MI CARRITO ===
*/
@mixin tfoot($bg:$color-main, $color: $black, $border: none ) {
    tfoot {
        tr {
            th, td {
                background: $bg;
                border: $border;
                color: $color;
            }

            &:first-child {
                th {
                    @include border-radius(5px 0 0 0);
                }
                td {
                    &:last-child{
                        @include border-radius(0 5px 0 0);    
                    }

                }
            }
            &:last-child {
                th {
                    @include border-radius(0 0 0 5px);
                }
                td {
                    &:last-child{
                        @include border-radius(0 0 5px 0);   
                    }
                }
            }
        }
    }
}


// Tabla de pedidos de mi carrito (para extender)
@mixin table-shop--NO--SE--USA {
    @include border-radius(0);
    font-size: 16px;
    border: none;
    width: 100%;

    // thead, tbody
    thead, tbody {
        tr {
            // th td
            th, td {
                @include padding(10px);
                text-align: center;
                border:none;
            }
            // th
            th {
                @include padding(5px 10px);
            }
        }
    }

    // thead
    thead {
        tr {
            background: $color-main;
            th {
                background: none;
                border: none;
                line-height: 1;
                height: 40px;
                font-weight: $font-bold;
                vertical-align: middle;
                color: $white;
            }
        }
    }

    // tbody
    tbody {
        tr {
            td {
                min-width: 0;
                vertical-align: middle;
                border-bottom: solid 1px $color-gris-60;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
            th {
                border-bottom: solid 1px $color-gris-60;
            }
        }
    }

}

@mixin table-shop-layout($break: 767px ) {
    thead {
        @media screen and (max-width: $break) {
            display: none;
        }
    }

    tbody {
        td[class] {
            @media screen and (max-width: $break) {
                padding-top: 30px + 10px;
                position: relative;
                border: none;
                &:before {
                    @include em(($font-size - 2px));                  
                    content: attr(data-title);
                    background: $color-primary;
                    color: $white;
                    display: block;
                    width: 100%;
                    line-height: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                }

                &:first-child {
                    &:before {
                        text-align: left;
                        text-indent: -9999em;
                    }
                }
                &.product-name {
                    &:before {
                        text-align: left;
                        text-indent: 10px;
                    }
                }
                &.product-remove {
                    padding-right: 10px;
                    &:before {
                        overflow: hidden;
                        color: transparent;
                    }
                }
            }
            @media screen and (max-width: $media-small) {
                &.product-thumbnail {
                    a {
                        min-width: 75px;
                    }   
                }
            }
        }
    }

    // layout de la tabla
    @media screen and (min-width: 660px) {
        table-layout: fixed;
    }

    @media screen and (min-width: 580px) and (max-width: 659px) {
        table-layout: auto;
        width: 100%;
    }
}

// responsive table layout
@mixin table-layout-mobile--NO--SE--USA {

    //@media screen and (max-width: $media-small) {
    @media screen and (max-width: 579px) {
        @include float;
        width: 30%;
        padding-bottom: 10px;
        &.product-thumbnail {
            width: 35%;
            a {
                width: 100%;
            }
        }
        &.product-name {
            width: 65%;
            &:before {
                text-align: left;
            }
        }
        &.product-price { clear: left;}

        &.product-remove {
            padding-left: 0;
            padding-right: 0;
            width: 10%
        }

        &.product-quantity {
            padding-right: 0;
            padding-left: 0;
        }
        // colores
        &.product-price, &.product-quantity, &.product-subtotal, &.product-remove {
            min-height: 90px;
            &:before {
                background: color-gris(5);
                color: $color-main;
                font-weight: $font-bold;
                border-bottom: solid 1px color-gris(25);
                border-right: none !important;
                border-left: none !important;
            }
        }
        &.product-remove {
            &:before {
                text-align: left;
                text-indent: -9999em;
            }   
        }
    }
}

// table thumbnail
@mixin table-thumbnail {
    td.product-thumbnail {
        padding-right: 0;
        min-width: 0;
        vertical-align: top;

        // enlace
        a {
            display: block;
        }
        // imagen
        img {
            @include transform-translate(0, 0);
            display: block;
            width: 100%;
            max-width: none;
            position: static;
        }   
    }
}
@mixin table-info-producto {
    td.product-name {
        text-align: left;
        vertical-align: top;
        // SKU
        @include sku(10px);

        // Producto y descripcion
        .product-title, .product-subtitle {
            margin-bottom: 5px;
            display: inline-block;
            width: 100%;
        }

        // Nombre del producto
        .product-title {
            font-weight: $font-bold;
            margin-bottom: 5px;
            a {
                @extend .product-title;
                @include margin(0);
            }
        }

        // Descripcion del producto
        .product-subtitle {
            @include em(12px);
            margin-bottom: 10px;
        }

        // Variaciones
        dl.variation {
            @include block(0 0 20px);
            @include em(14px);
            color: $color-text;

            dt, dd {
                @include margin(0);
                font-weight: $font-regular;
                color: inherit;
                font-weight: normal;
                line-height: 1.3;
                color: $color-gris-60;
            }

            p {
                @include margin(0 5px 0 0);
                line-height: 1.3;
            }
        }
    }
}
@mixin table-precio {
    td{
        &.product-price, &.product-subtotal {
            @include em(14px);
            vertical-align: middle;
            color: $black;
            span {
                font-weight: $font-bold;
            }

            ins {
                color: $color-danger;
            }
        }  
    }
}
@mixin table-cantidad {
    td.product-quantity {
        .quantity {
            @include block(0);
            overflow: hidden;
            label {
                display: none;
            }
            .input-container {
                float: none;
            }
        }
    }
}
@mixin table-remove {
    td.product-remove {
        a {
            @include em(10px);
            text-transform: uppercase;
            display: inline-block;
            width: auto;
            font-weight: $font-bold;
            color: $color-gris-25 !important;
            position: relative;
            -webkit-border-radius: 0 !important; 
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            &:before {
                @include font-awesome('\f00d');
                display: inline-block;
                margin-right: 2px;
            }

            &:hover, &:active, &:focus {
                background: none !important;
                color: $color-main !important;
            }
            @media screen and (max-width: 720px) {
                &:before {
                    margin: 0;
                }
                span {
                    display: none;
                }
            }
        }
    }
}
@mixin table-cart-discount {
    text-align: left;
    td {
        text-align: right;

        .woocommerce-remove-coupon {
            @include em(14px);
            display: inline-block;
            margin-left: 5px;
        }
    }
}
/*
=== CART ===
*/
// cart totales
@mixin cart-totales {
    .cart_totals {
        width: 100%;
        max-width: 370px;
    }
}
// Cart heading titles
@mixin cart-heading-title($bg: $light ) {
    color: $color-text;
    line-height: 1.2;
    @include em(16px);
    // @include font-family(1, null);
    // @include border-radius(1px);
    // @include block(0 0 15px);
    @include padding(10px);
    // text-transform: uppercase;
    background: $bg;
    // text-align: left;
    // letter-spacing: 0;
}

// Cart shop table
@mixin cart-table-desglose {
    table.shop_table {
        tbody {
            td {
                .select2  {
                    text-align: left;
                }
            }
            tr {
                &.shipping {
                    .select2  {
                        text-align: right;
                    }
                    .shipping-calculator-button {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        visibility: hidden;
                        margin: -1px;
                    }
                }

                &.order-total {
                    @include em(24px);
                }
            }
            form.woocommerce-shipping-calculator {
                padding-top: 10px;
                > p { 
                    &:first-of-type {
                        display: none;   
                    }
                } 
            }
        }
    }
    .shipping-calculator-form {

        p {
            @include padding(0);
            @include margin(0 0 10px);
        }

        .button {
            @extend %button-main-alt;
            @include padding(0 10px);
            font-weight: $font-regular;
            max-width: none;
            width: 100%;
            line-height: 34px;
        }
    }
}
// Buton de realizar el pedido
@mixin cart-realizar-pedido {
    .wc-proceed-to-checkout {
        @include reset-content;
    }
}

/*
=== REALIZAR PEDIDO (CHECKOUT) ===
*/
%checkout_place_button {
    display: block;
    float: none;
    font-weight: $font-bold;
    margin: auto;
    max-width: 230px;
    text-transform: uppercase;
    width: 100%;
    @include set-new-button-style($color-secondary, $color-main, $color-secondary);
    @include set-new-button-hover(darken($color-secondary, 6%), $color-main, $color-secondary);
    @include fs(15px);
}
@mixin pedido-notificaciones {
  .woocommerce-checkout-notifications {
    margin-bottom: 20px;
    position: relative;
    border-bottom: solid 1px $light;
    z-index: auto;

    @media screen and (min-width: $media-sm) {
      padding-bottom: 15px;
    }

    // form
    [class*="woocommerce-form-"] {
      & ~ form {
        @include border-radius(3px);
        @include margin(0 auto);
        @include transition(400ms);
        @include box-shadow(0 0 15px 0 rgba($black, 0.2));

        /* previene el fade */
        display: block !important;
        height: auto;
        overflow: visible;
        padding: 5% 6% 1%;
        background: $white;
        opacity: 0;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        visibility: hidden;
        max-width: $media-small;
        @media (max-width: $media-xs) {
          padding: 50px 15px 15px 15px;
        }
        a.close {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: $light;
          color: $orange;
          height: 35px;
          width: 35px;
          text-align: center;
          line-height: 35px;
          font-size: 16px;
        }
        .form-row-first,
        .form-row-last {
          padding: 0;
          width: 100%;
          float: none;
          label {
            height: auto !important;
          }
        }
        .woocommerce-form-login__submit {
            @extend %checkout_place_button;
        }
      }

      &:not(.open) + form {
        z-index: -1;
      }

      &.open {
        a[class] {
          &:after {
            opacity: 1;
          }
        }

        & + form {
          opacity: 1;
          visibility: visible;
          //top: 0;
          z-index: 99;
        }
      }
      @media screen and (max-width: $media-xs) {
        & ~ form {
          position: fixed !important;
          max-height: 80vh;
          height: 80vh;
          max-width: 90%;
          top: 0;
          bottom: 0;
          margin: auto;
          overflow: auto;
        }
      }
      @media screen and (max-height: 700px) {
        & ~ form {
          position: fixed !important;
          max-height: 71vh;
          height: 71vh;
          //max-width: 500px;
          top: 0;
          bottom: 0;
          margin: auto;
          overflow: auto;
        }
      }
    }

    // notificacion
    div.woocommerce-info {
      @include block(0 0 20px);
      @include padding(0);
      position: relative;
      border: none;
      line-height: 1.2;
      background: transparent;

      @media screen and (min-width: $media-sm) {
        @include float;
        @include margin(0 5px 5px 0);
        @include calc(width, 50%, 5px);
        max-width: 300px;

        &:last-of-type {
          margin-left: 5px;
          margin-right: 0;
        }
      }

      > .fa {
        margin-left: -3px;
        margin-right: 5px;
        color: $color-main;
      }

      a[class] {
        display: block;
        @include em(14px);
        color: $color-main;
        &:after {
          @include transition;
          content: $icono_cerrar;
          display: inline-block;
          color: $danger;
          opacity: 0;
          margin-left: 6px;
          font-weight: $font-bold;
        }
      }

      // coupons messages
      + .woocommerce-error,
      + .woocommerce-message {
        @include margin(10px 0 0);
        display: inline-block;
      }

      + .woocommerce-message {
        clear: both;
        .button {
          border: 0;
          font-weight: bold;
          background-color: transparent;
        }
      }

      // icono
      &:before {
        font-weight: 500 !important;
        @include size(15px);
        @include font-awesome("\f058");
        position: relative;
        display: inline-block;
        color: $color-main;
        top: auto;
        left: auto;
      }
    }

    .woocommerce-error,
    .woocommerce-message {
      clear: both;
    }
  }
}
@mixin pedido-form-login {
  .woocommerce-form-login {
    > p:not(.form-row) {
      @include padding(0);
      margin-bottom: 10px;

      &:first-child {
        line-height: normal;
        margin-bottom: 20px;
      }
    }
  }
}
@mixin __infoPedido {
    .__infoPedido {
        // titulo
        h3 {
            @include cart-heading-title;
            position: relative;
            padding-left: 15px;

            &#order_payment_heading {
                @include cart-heading-title();
                padding-left: 15px;
            }
        } 

        // la tabla
        table.shop_table {
            // tbody
            tbody {

                td {
                    //border: none;
                }
                td {
                    font-weight: $font-regular;
                    vertical-align: top;

                    span[class] {
                        margin-bottom: 0;

                        &.product-subtitle {
                            margin-bottom: 5px;
                        }
                    }

                    // cart item

                }

                tr { 
                    &.cart_item {
                        td {
                            @include first-child {
                                padding: {
                                    left: 15px;
                                    right: 15px;
                                }  
                            }
                        }
                    }
                }

                // nombre del producto
                .product-name {
                    position: relative;
                    //padding-right: 25px;
                    text-align: left;
                }

                // texto del prodcuto
                .product-title {
                    display: block;
                    width: 100%;
                    @include fs(14px);
                    color: $color-base;
                }
                .product-sku {
                    @include fs(13px);
                    color: $color-text;
                }

                // precio
                .product-total {
                    text-align: center;
                }

                /*
                dl.variation {
                    display: inline-block;
                    @include em(14px);
                    font-weight: $font-regular;
                }
                */

                dl.variation {
                    @include block(0 0 20px);
                    @include em(14px);
                    color: $color-text;

                    dt, dd {
                        @include margin(0);
                        font-weight: $font-regular;
                        color: inherit;
                        font-weight: normal;
                        line-height: 1.3;
                        color: $color-gris-60;
                    }

                }

            }

            tfoot {
                /*
                > tr {
                    td {
                        @include padding(0);
                        border: none;

                        table.table {
                            @include margin(0);
                            @include size($font-size);
                            tbody {
                                th, td {
                                    @include padding(10px 0);
                                    border: none;
                                    color: $black;
                                    font-weight: $font-regular;
                                    width: 50%;
                                    p {
                                        @include margin(0 0 5px);
                                        line-height: normal;
                                    }
                                }

                                tr.cart-discount {
                                    .woocommerce-remove-coupon {
                                        @include em(12px);
                                        color: $color-main;
                                    }
                                }

                                tr.shipping-pickup-store, tr.shipping {
                                    td {
                                        // select
                                        .select2-container { 
                                            @include em(13px);
                                            font-weight: $font-regular;
                                            text-align: right;
                                            min-width: 100%;

                                            .select2-selection.select2-selection--single {
                                                border: solid 1px $color-main;
                                            }
                                        }
                                        .dropdown-wrapper {
                                            display: none;
                                        }
                                    }
                                }   
                            }

                            .shipping-pickup-store {
                                @include padding(10px);
                            }
                            tr.shipping {
                                th, td {
                                    position: relative;
                                    &:after {
                                        content: '';
                                        @include block(0 0 10px);
                                    }
                                }
                            }
                            tr.order-total {
                                th, td {
                                    position: relative;
                                    &:before {
                                        content: '';
                                        @include block(10px 0 0);
                                    }

                                    &:after {
                                        @include calc(width, 100%, 10px);
                                        content: '';
                                        top: -1px;
                                        position: absolute;
                                        height: 1px;
                                        z-index: 5;
                                        background: lighten($color-main, 7%);
                                    }
                                    border: none;
                                }
                                th {
                                    &:after {
                                        right: 0;
                                    }
                                }
                                td {
                                    &:after {
                                        left: 0;
                                    }
                                }
                            }

                            // estilo con fondo de color
                            tbody {
                                tr {

                                    th, td {
                                        @include padding(5px 10px);
                                        border: none;
                                        color: $black;
                                    }
                                    th {
                                        text-align: left;
                                    }
                                    td {
                                        text-align: right;
                                    }

                                    &:first-child {
                                        th, td {
                                            padding-top: 15px;
                                        }
                                    }
                                    &:last-child {
                                        th, td {
                                            padding-bottom: 15px;   
                                        }
                                    }
                                }  
                            }
                        }
                    }
                }
                */
                display: none !important; // no se muestra el tfoot
            }

            // borders
            > tbody > tr > th,
            > tbody > tr > td {
                border: 1px solid $light;
            }
        }
    }
}
@mixin paymentbox {
    #payment {
        @include border-radius(0);
        background: none;
        .select2-container {
            min-width: 100%;
        }

        .form-row {
            margin: 0;
            flex-direction: column;
        }

        div.payment_box {
            // background-color: $white;
            // color: $black;

            &:before {
                display: none;
            }

            p.form-row {
                margin-top: 10px;
            }
        }

        div.place-order {
            @include reset-content;
            @include padding(10px 0);
            @include clearfix;

            p.terms {
                @include padding(0 0 10px);
                @include margin(0 0 15px);
                border-bottom: solid 1px $color-main;
                display: inline-block;
                width: 100%;
                clear: both;
                float: none;
                line-height: normal;
            }

            // BUTTON
            #place_order {
                @extend %checkout_place_button;
            }
        }

        ul {
            list-style: none;
            padding: 0;
        }
    }
    @at-root {
        body[class*="woocommerce"] .__infoPedido form label[class*="checkbox"].checkbox {
            display: inline-block;
        }
    }
}

/*
=== PAGAR EL PEDIDO
*/
/*
@mixin tfoot {
    tfoot {
        tr {
            th, td {
                @include padding(5px 0);
                border: none;
                color: $black;
            }
        }
    }
}
*/
@mixin order-review {
    form {
        table.shop_table {

            // tbody
            tbody {
                tr{
                    &.order_item {
                        td {
                            vertical-align: top;
                            &.product-name {
                                .product-title {
                                    margin-bottom: 0;
                                }
                                ul.wc-item-meta {
                                    @include padding(0);
                                    @include em(14px);
                                }
                            }
                        }

                        &:last-of-type {
                            td {
                                border: none;
                            }
                        }
                    }
                }
            }

            // tfoot
            @include tfoot;
        }
    }
}

/*
=== Payment 
*/
@mixin payment {
    form#payment {
        > p {
            line-height: normal;
            margin-bottom: 15px;
        }

        div.payment_box{
            @include reset-content;
            background: none;
            @include padding(0);
            @include margin(20px 0);
            border: none;

            // campo de la tarjeta
            fieldset.wc-credit-card-form {
                @include margin(0 0 30px);
                @include padding(15px);
                @include border-radius(3px);
                background: $color-main;
                color: $black;
                p.form-row {
                    @include form-row;

                    .wc-credit-card-form-card-number {

                    }
                }
            }

            // Boton de pagar
            button.button {
                /* @include set-button-style; */
                @include em(24px);
                @include padding(0 10px);
                @include margin(0 auto 20px);
                position: relative;
                text-transform: uppercase;
                letter-spacing: -1px;
                display: block;
                width: 100%;
                line-height: 60px;
                &:after{
                    @include font-awesome('\f105');
                    display: inline-block;
                    margin-left: 5px;

                }
            }
        }

        // mensaje
        .payment_result {
            .alert {
                @include clearfix;
                @include border-radius(3px);
                @include padding(15px 10px);
                @include reset-content;
                width: 100%;
            }

            .alert-danger {
                border: solid 2px $color-main;
                color: $color-main;
            }

            .alert-success {
                border: solid 2px $color-main;
                color: $color-main;
            }
        }
    }

}