.woocommerce-order-pay form#payment input[id*="baum_payment_gateway-card"] {
    border-width: 2px;
    &.is_required {
        border-color: $color-main;
    }
}
@include table-colors;

// === > MI CARRITO
@import "_parts/mi-carrito.scss";

// ===> REALIZAR PEDIDO
@import "_parts/realizar-pedido.scss";

// ===> PAGAR EL PEDIDO
@import "_parts/pagar-pedido.scss";

// ===> CONFIRMACION DE ORDEN
@import "_parts/confirmacion-de-orden.scss";

// ===> LAYOUT DE TABLA EN RESPONSIVE

form {
    &#order_review {
        tbody {
            td:not(.product-name) {
                font-weight: 700;
            }
        }       
    }

    // &.woocommerce-checkout,
    &#order_review {
        tbody {
            td.product-name {
                text-align: left;
                color: $black;

                .product-title {
                    font-weight: 700;
                }
            }
        }
    }
}

.woocommerce-checkout-payment {
    .wc_payment_methods {
        padding-left: 0;
        list-style: none;
    }
}

#woocommerce-form-login-toggle-container {
    background-color: #ECB338;
    padding: 20px;

    h4 {
        display: inline;
        font-size: 20px;

        img {
            margin-right: 15px;
        }
    }

    .showlogin {
        float: right;
        padding: 4px 13px;
        border-radius: 0;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }

    @include media-breakpoint(small, 'max-width') {
        h4 {
            display: block;
        }

        .showlogin {
            float: none;
        }
    }
}