
.woocommerce  {
    .woocommerce-order {
        // texto orden recibida
        .woocommerce-notice  {
            line-height: 1.2;
        }

        // order overview
        ul.woocommerce-order-overview {
            @include padding(0);
            @include margin(0 auto 20px);
        }
    }
}
