@mixin font-fernandez($icon: null, $str: null) {
  content: $icon $str;
  font-family: "fernandez_aguilar" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin checkbox-input-style($style: 1) {
  @if $style == 1 {
    @include checkbox-input-1($color-gris-25, $color-main, $color-main);
  } @else {
    @include checkbox-input-2($color-gris-25, $color-main, $color-main);
    label[class*="checkbox"] {
      padding-left: 0;
      display: block;
      position: relative;
      width: 22px;
      height: 22px;
      &:before {
        position: absolute;
        left: 0;
        color: $color-main;
      }
    }
  }
}

// Estilo de input
@mixin input-proyecto() {
  //@include input-style(0 10px, solid 1px $color-main      , $color-text   ,  $white, $font-light, 1px, null, $forms-line-height, 300ms);
  &:hover,
  &:active {
    border-color: $color-main;
  }
  &:focus {
    border-color: $black;
  }
}

// font-size
@mixin size($value: inherit) {
  font-size: $value;
}

// Main buttons style = Woocommerce
// Main buttons style
@mixin main-button-style($pa: 10px 20px) {
  @include transition($transition);
  @include text-shadow(none);
  @include padding($pa);
  @include font-family(1);
  position: relative;
  overflow: hidden;
  display: inline-block;
}

// Button default
@mixin btn-default {
  @include set-new-button-style($color-main, $white, darken($color-main, 6%));
  @include set-new-button-hover(darken($color-main, 6%), $white, $color-main);
}
// wc button main
@mixin button-main {
  @include set-new-button-style($color-main, $white, $color-main);
  @include set-new-button-hover(darken($color-main, 6%), $white, $color-main);
}
// wc button alt
@mixin button-main-alt {
  @include set-new-button-style($white, $color-main, $color-main);
  @include set-new-button-hover(darken($white, 8%), $black, $black);
}

// Mixin para los colores del menu
@mixin menu_color($color) {
  // cuando está abierto
  &.mega-toggle-on {
    a.mega-menu-link {
      font-weight: $font-bold;
      color: $color-default;
      background-color: $color;

      // up effect ^
      &:after {
        -moz-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
    }
  }

  // Color del link
  a.mega-menu-link {
    color: $color;
    @include box-shadow(none);
    &:hover,
    &:active,
    &:focus {
      @include box-shadow(none);
      color: $color-default;
      background-color: $color;
    }
  }

  // color del SUB MENU
  .mega-sub-menu {
    background: $color;
  }
}

// Toggle X -- toggle-x
@mixin toggleX {
  .toggle-x .icon-bar {
    width: 22px;
    @include transition;
    background: $color-main;
  }

  /* ANIMATED X */
  .toggle-x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
  }

  .toggle-x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .toggle-x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }

  /* ANIMATED X COLLAPSED */
  .toggle-x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .toggle-x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .toggle-x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  /* END ANIMATED X */
}

/* menu-secundario-links */
@mixin menu-secundario-links($border: null) {
  @include border-radius(1px);
  @include borde($border);
  display: block;
  width: 40px;
  line-height: 40px;
  color: gris(50);
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-default;
  }
}

/* Overlay BG */
@mixin overlaybg($bgcolor: rgba($color-main, 0.9)) {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background: $bgcolor;
}

/* Form del Newsletter en el footer */
@mixin newsletter-form {
  form {
    .mc4wp-form-fields {
      position: relative;
      .input__text {
        input[type="email"] {
          @include form-input-style(
            0 10px,
            solid 1px $color-gris-25,
            $color-text,
            $white,
            $font-light,
            2px,
            12px,
            null,
            400ms
          );
          @include box-shadow(none);
          width: 100%;
          outline: none;
          padding: {
            top: 0;
            right: 60px;
            bottom: 0;
            left: 15px;
          }
          width: 100%;
          max-width: none;
          outline: none;
          line-height: 42px;
          &:hover,
          &:active,
          &:focus {
            outline: none;
            @include box-shadow(none);
            border: solid 1px $color-default;
          }
        }
      }
      .input__button {
        @include transition;
        @include transform-translate(0, -50%);
        @include calc(height, 40px, 4px);
        background-color: rgba($color-main, 0);
        border-left: solid 1px $color-gris-30;
        width: 58px;
        display: block;
        position: absolute;
        right: 2px;
        top: 50%;
        text-align: center;
        line-height: 36px;
        input[type="submit"] {
          @include padding(0);
          opacity: 0;
          height: 100%;
          line-height: normal;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          & ~ i.fa {
            @include em(18px);
            @include transition(300ms);
            &:before {
              @include transition(300ms);
              @include font-awesome-icon("\f1d8");
            }
          }
        }
        &:hover,
        &:active,
        &:focus {
          background-color: $color-main;
          input[type="submit"] ~ i.fa {
            color: $white;
          }
        }
      }
    }
  }
}

/* Precio default */
@mixin precio-default($s: 16px, $amount: $font-bold, $price: $font-regular) {
  @include em($s);
  @include margin(0);
  width: 100%;
  font-weight: $price;
  display: block;
  color: $black;
  clear: both;
  text-align: left;
  line-height: normal;

  .amount {
    font-weight: $amount;
  }
}

// Precios con variantes
@mixin precio-variantes() {
  ins,
  del {
    display: inline;
    font-weight: $font-light;
    text-decoration: none;
    opacity: 1;
  }
  del {
    .amount {
      font-weight: $font-light;
      text-decoration: line-through;
      opacity: 0.85;
    }
  }
  ins {
    .amount {
      color: $color-danger;
    }
  }
}

/* Woocommerce Item */
@mixin item {
  @include margin(0 0 20px);
  @include float;
  @include padding(5px);
  .product {
    // wrapper
    &-wrapper {
      @include transition;
      border: none;
      background: color-gris(5);
      border-radius: 5px;
      overflow: hidden;
    }

    // Imagen
    &-image-container {
      overflow: hidden;
      position: relative;

      // vertical align = @param 1: elemento, <a>
      .vertical {
        display: block;
        width: 100%;
        height: 100%;
      }

      a.woocommerce-LoopProduct-link {
        width: 100%;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
      }
    }

    // Info
    &-title-container {
      background: $color-default;
      color: $white;
      text-align: center;
      @include padding(10px 5px);

      > a {
        display: block;
        color: $white;
        &.btn {
          margin: 0 auto;
          max-width: 160px;
          width: 100%;
          line-height: 1.1;
        }
        .woocommerce-loop-product__title {
          font-size: 1.2em;
          color: $white;
        }
      }

      // Fixing the button
      padding-bottom: (
        /* btn => */ 38px + /* top => */ 10px + /* bottom => */ 10px
      );
      position: relative;
      > a {
        &.btn {
          @include transform-translate-x(-50%);
          position: absolute;
          bottom: 10px;
          left: 50%;
        }
      }
    }
  }

  // href con el link al producto
  a.woocommerce-LoopProduct-link {
    // la imagen
    img {
      @include transition;
      @include margin(0);
      max-width: none;
      width: 100%;
      position: relative;
      opacity: 1;
    }
  }

  // titulo del producto
  .woocommerce-loop-product__title {
    @include padding(6px 0);
    @include margin(0);
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    color: $color-text;
  }
}

// Estilo de los Select
@mixin select2($borde: $color-main) {
  .select2-container {
    @include em(12px);
    @include margin(0);

    .select2-selection.select2-selection--single {
      @include border-radius(5px);
      @include margin(0);
      border: solid 1px $color-gris-25;
      height: auto;
      line-height: $forms-line-height;

      > span {
        line-height: $forms-line-height;
        font-size: 14px;
        color: $color-text;

        b {
        }
      }
      .select2-selection__rendered {
        padding-right: 30px;
        line-height: $forms-line-height;
      }
      .select2-selection__arrow {
        @include calc(height, 100%, 2px);
        width: 30px;
        top: 2px;
        b {
          //@include translate(0, -50%);
          @include transition;
          width: 25px;
          height: 100%;
          display: block;
          position: absolute;
          left: auto;
          right: 0;
          top: 0;
          border: none;
          line-height: $forms-line-height;

          &:before {
            line-height: $forms-line-height !important;
            color: #3e3e3e;
            @include transition;
            @include font-awesome("\f0d7");
            position: relative;
            line-height: inherit;
            width: 100%;
            height: 100%;
            display: block;
            font-size: 15px;
            text-align: center;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
          }
        }
      }
    }

    // cuando está abierto
    &.select2-container--open {
      // el select
      .select2-selection.select2-selection--single {
        border-color: $color-gris-25;
      }

      .select2-selection {
        .select2-selection__arrow {
          //height: 100%;
          b {
            &:before {
              color: $color-main;
              -moz-transform: rotateX(180deg);
              -webkit-transform: rotateX(180deg);
              -o-transform: rotateX(180deg);
              -ms-transform: rotateX(180deg);
              transform: rotateX(180deg);
            }
          }
        }
      }
    }
  }
}

// Estilo boton de los filtros && Button light false => 100% --  true: asignarle valor
@mixin button-light($w: true, $width: 100%) {
  @include set-new-button-style(transparent, $color-gris-50, $color-gris-25);
  @include set-new-button-hover(darken($white, 5%), $color-main, $color-main);
  @if $w {
    @include calc(width, 100%, 20px);
  } @else {
    width: $width;
  }
  @include padding(0 15px);
  @include margin(0 auto 20px);
  line-height: 34px;
}

// Selector de Cantidad
// Deprecated - 27-11-2019 - KMA

// button de quick view y fav en mobile
@mixin quickview-fav-button($bg: null) {
  @include border-radius(2px);
  background: $bg;
  color: $color-text;
  width: auto;
  height: auto;
  line-height: 1;
}

// Boton de favoritos
@mixin boton-de-favoritos {
  @include border-radius(100%);
  padding: 0;
  background: $white !important;
  border: none;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;

  a.tinvwl_add_to_wishlist_button.no-txt {
    width: 100%;
    height: 100%;
    position: relative;
    @include margin(0);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    &:before {
      position: static;
      line-height: 1;
      margin-top: 4px !important;
      @include font-awesome("\f004");
      @include margin(0);
      @include padding(0);
    }
  }
  a.tinvwl_add_to_wishlist_button.no-txt.tinvwl-product-in-list {
    &:before {
      content: "\f004" !important;
      color: $color-danger;
    }
  }
}

// form row
@mixin form-row {
  @include reset-content;
  @include padding(0);
  @include margin(0 0 20px);
}

// Mi cuenta subtitulo
@mixin subtitulo-cuenta($w: $font-regular) {
  @include em(26px);
  @include margin(0 auto);
  text-align: center;
  color: $color-default;
  letter-spacing: 0;
  font-weight: $w;
  text-transform: none;
}

// order detail
@mixin order-detail {
  @include margin(0 auto 20px);
  @include padding(0);
  display: block;
  background: none;
  width: 100%;
  text-align: center;
  li {
    @include calc(width, 50%, 10px);
    @include padding(10px 0);
    @include size($font-size);
    //display: block;
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 15px;
    //float: left;
    clear: none;
    border: none;
    border-bottom: solid 1px $color-gris-30;
    color: $color-default;
    text-transform: none;
    font-weight: $font-bold;

    text-align: center;
    float: none;
    display: inline-block;

    &:before {
      content: none;
    }

    strong {
      @include em($font-size);
      padding-top: 7px;
      font-weight: $font-regular;
      color: $color-text;
    }

    &:nth-child(odd) {
      margin-right: 5px;
      margin-left: 0;
    }

    @media screen and (max-width: 480px) {
      @include block(0 0 10px);
    }
  }
}

// print order
@mixin print-order {
  a.button.print {
    @include padding(8px 10px);
    min-width: 200px;
    text-align: center;
    position: relative;
    &:after {
      @include font-awesome("\f02f");
      position: relative;
      display: inline-block;
      margin-left: 5px;
    }

    @media screen and (max-width: 480px) {
      min-width: 0;
      @include block(0 0 10px);
    }
  }
}

// Style for customer details address boxes
@mixin wc-customer-details {
  margin: 0 auto 20px;
  max-width: 720px;

  @media screen and (max-width: 600px) {
    .woocommerce-columns .col-1 {
      margin-bottom: 30px;
    }

    .woocommerce-columns .col-1,
    .woocommerce-columns .col-2 {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  address {
    p {
      @include block;
      @include padding(0);
      text-align: left;
      font-weight: $font-regular;
      color: $color-text;
      &:before {
        display: inline-block;
        margin: 0;
        position: static;
        margin-right: 6px;
      }

      &.woocommerce-customer-details- {
        &-phone,
        &-email {
          margin-top: 10px;
          &:before {
            @include font-awesome();
          }
        }

        &-phone {
          &:before {
            @include font-awesome-icon("\f095");
          }
        }
        &-email {
          &:before {
            @include font-awesome-icon("\f0e0");
          }
        }
      }
    }
  }

  address,
  .woocommerce-cedula-details .cedula-details {
    @include padding(10px);
    border: solid 2px $color-main;
    text-align: left;
    line-height: normal;
  }

  .woocommerce-cedula-details {
    margin: 30px auto;
    max-width: 500px;
    padding-top: 0;

    p {
      margin-bottom: 0;
    }
  }
}

// responsive table layout
@mixin table-layout-mobile {
  // ===> LAYOUT EN RESPONSIVO <===
  //@media screen and (max-width: $media-small) {
  @media screen and (max-width: 579px) {
    @include float;
    width: 30%;
    padding-bottom: 30px;
    &.product-thumbnail {
      width: 35%;
      a {
        width: 100%;
      }
    }
    &.product-name {
      width: 65%;
      &:before {
        text-align: left;
      }
    }
    &.product-price {
      clear: left;
    }

    &.product-remove {
      padding-left: 0;
      padding-right: 0;
      width: 10%;
    }

    &.product-quantity {
      padding-right: 0;
      padding-left: 0;
    }
    // colores
    &.product-price,
    &.product-quantity,
    &.product-subtotal,
    &.product-remove {
      min-height: 90px;
      &:before {
        background: $white;
        border-bottom: solid 2px transparent;
        border-right: none !important;
        border-left: none !important;
      }
    }
  }
}

@mixin table-colors() {
}

// Pulse animation
@mixin pulse-animation() {
  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba($white, 0.5);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba($white, 0.5);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba($white, 0.5);
    }
  }
}

// Do Animation
@mixin _do($name: pulse, $time: 800ms, $repeat: 1) {
  -webkit-animation: $name $time $repeat;
  animation: $name $time $repeat;
}

// Pulse animation => custom color
@mixin pulse($name: null, $color: null) {
  @keyframes #{$name} {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(rgba($color-main, 0.5), 0.6);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(rgba($color, 0.5), 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(rgba($color, 0.5), 0);
    }
  }
}

// font-size
@mixin fs($fs: null) {
  font-size: $fs;
}

// set before & after
@mixin be_af() {
  &:before,
  &:after {
    @content;
  }
}
@mixin be() {
  &:before {
    @content;
  }
}
@mixin af() {
  &:after {
    @content;
  }
}

@mixin pagination-style() {
  @include border-radius(100%);
  @include block-size(40px);
  @include transition;
  @include margin(0 5px);
  @include padding(0);
  @include fs(13px);
  font-weight: $font-regular;
  border: none;
  display: block;
  line-height: 40px - 2px;
  background-color: $light;
  color: $color-default;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-main;
    color: $white;
  }
}

@mixin small_qty(
  $_block_size: 20px,
  $_font_size: 11px,
  $_line_height: 18px,
  $_background: $white
) {
  @include block-size($_block_size);
  @include fs($_font_size);
  @include border-radius(100%);
  @include font-family(2);
  line-height: $_line_height;
  display: block;
  background: $_background;
  position: absolute;
  text-align: center;
}

// Utilities detale de producto
@import "../woocommerce/detalle-producto/_utilities.scss";

// Utilities Checkout
@import "../woocommerce/checkout/_utilities.scss";
