
header.woocommerce-products-header {
    @include padding(0);
    text-align: left;
    margin-bottom: 40px;
    @at-root #{$GLOBAL} #{&} {
        h {
            &1, &2, &3, &4 {
                margin-bottom: 0;
            }
        }
    }
}


/*
// descripcion de la categoria
.term-description {
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
p {
@include margin(0);
}
}
*/