.carousel-container {
    
    // padding al div de woocommerce para acomodar las ferlchas
    .woocommerce {
        @include padding;
    }
    
    // flechas de navegacion
    .owl-controls {
        .owl-nav {
            // define el tamaño base del font de la navegacion
            font-size: $font-size;
            // prev - next
            .owl-prev, .owl-next {
                @include em(30px);
                color: $color-main;
            }
        }
    }
}