
// borde del filtro
%bf {
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: solid 1px $color-gris-25;
}


/* === COLUMNA DE FILTROS  === */
#{$GLOBAL} #{$columna-filtros} {
    h4 {
        letter-spacing: 0;
    }
}

#{$columna-filtros} {
    position: relative;
    @include media-breakpoint($media-small) {
        padding: {
            left: 0;
            right: 15px;
            top: 0;
        }
    }

    // Toggle button del
    #toggle-filtros {
        @include transition(300ms);
        @include padding(0 15px);
        @include margin(0 auto 20px);
        border:  1px solid $light;
        line-height: 40px;
        width: 100%;
        position: relative;
        @include media-breakpoint($media-small) {
            display: none;
        }
        &:before{
            @include transform-rotate(45deg);
            @include transition(600ms);
            @include helvetica;
            @include em(12px);
            color: $color-base;
            content: '\2716';
            text-align: center;
            line-height: 20px;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -10px;
            opacity: 1;
        }
        %hover-this {
            background-color: $white;
            border-color:  $color-main;
            color: $color-base;
        }
        &:hover, &:active, &:focus {
            @extend %hover-this;
        }

        &.opened {
            @include set-new-button-style($color-main, $white, $color-main)
            &:before {
                opacity: 1;
                color: $white;
                @include transform(rotate(0) scale(1.3));
            }
        }
    }

    // section contiene los filtros
    section.widget {

        // Titulo de los filtros 
        .widget-title {
            color: $color-default;
            @include em(16px);
            border-bottom: 1px solid $light; 
            margin-bottom: 24px;
            letter-spacing: 0;
            line-height: 33px;
        }

        // contenedor de cada filtro
        .woof .woof_redraw_zone {

            // div de cada tipo de filtro
            > div {
                @extend %bf;

                &:last-child {
                    display: none;
                }
            }

            // cada filtro
            .woof_container_inner {
                // titulo
                h4 { 
                    @include font-family(1, $font-bold);
                    @include em(14px);
                    color: $color-default;
                    margin-bottom: 12px;
                }

                &_color {
                    .woof_list {
                        li {
                            @include margin(0 0 8px, !important);
                            display: block;

                            label {
                                padding-left: 0;

                                &.no-stock {
                                    text-decoration: line-through;
                                    opacity: 0.4;
                                }
                            }

                            .checkbox {
                                border: 1px solid #bfbfbf;
                                display: inline-block;
                                height: 20px;
                                margin: 0;
                                padding: 0;
                                vertical-align: middle;
                                width: 20px;
                            }
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                // listado
                @at-root #{$columna-filtros} {
                    ul {
                        @include list-unstyled(0, 0 0 15px);
                        padding-left: 0;                        
                        li {
                            display: block;
                            @include margin(0 0 8px);

                            // @include checkbox-input-style(1);
                            @include checkbox-input-1($gray-dark, $color-main, $color-main, 4px, 3px);

                            input[type] {
                                & + label {
                                    @include be_af {
                                        @include transition($transition);
                                    }
                                }
                            }
                            %not-allowed {
                                pointer-events: none;
                                cursor: not-allowed;
                                text-decoration: none;      
                            }
                            input[type="checkbox"] {

                                // Disabled
                                &[disabled] + label {
                                    @extend %not-allowed;
                                    &:hover, &:active, &:focus {
                                        @extend %not-allowed;
                                        &:before {
                                            @extend %not-allowed;
                                        }
                                    }

                                    @include be {
                                        @include font-awesome-icon('\f715');
                                        color: darken($gray-dark, 10%);
                                        text-decoration: none;
                                        pointer-events: none;
                                        cursor: not-allowed;
                                        font-size: 8px;
                                    }
                                }
                                // label correction
                                & + label {
                                    @include margin(0);
                                    @include em(14px);
                                    padding-left: 32px;
                                    font-weight: $font-regular;
                                    color: $color-text;
                                    display: inline-block;
                                    width: 100%;
                                    cursor: pointer;
                                    position: relative;

                                    &:hover, &:active, &:focus {
                                        text-decoration: underline;
                                        @include af {
                                            border-color: $color-main;
                                        }
                                    }

                                    &:after {
                                        position: absolute;
                                        left: 0;
                                    }
                                    &:before {
                                        font-size: 12px;
                                        font-weight: $font-bold;
                                        position: absolute;
                                        text-align: center;
                                    }
                                }
                            }



                            label {
                                @include margin(0);
                                @include em(14px);
                                padding-left: 22px;
                                font-weight: $font-regular;
                                color: $color-text;
                                display: inline-block;
                                width: 100%;
                                cursor: pointer;
                                position: relative;
                                &:hover, &:active, &:focus {
                                    text-decoration: underline;
                                }

                                &:after {
                                    position: absolute;
                                    left: 0;
                                }
                                &:before {
                                    position: absolute;
                                    left: 2px;
                                    top: 3px;
                                }
                            }
                            .woof_checkbox_count {
                                display: none !important;
                            }

                            ul {
                                @include list-unstyled;
                                @include padding(0);
                            }
                        }
                    }
                }
            }
        }
    }
}


/* oculto < $media-sm */
#{$columna-filtros} {


    .woof_container_innerh4 { 
        @media screen and (min-width: $media-sm) {
            pointer-events: none;
            color: red;
        }
    }


    @include media-breakpoint(($media-small - 1px), max-width) {
        text-align: center;
        section.widget, .widget-title, .woof_block_html_items {
            display: none;
        }

        .woof_container_inner { 
            h4 {
                cursor: pointer;
                position: relative;
                &:before {
                    @include transition(300ms);
                    @include helvetica;
                    @include em(12px);
                    @include transform-rotate(-45deg);
                    color: $color-main;
                    content: '\2716';
                    text-align: center;
                    line-height: 20px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 5px;
                }

                &.filter-action {
                    &:before {
                        @include transition-delay(100ms);
                        @include transform-rotate(0);
                        color: $color-main;
                    }
                }
            }
        }

        section.widget {
            @include border-radius(2px);
            @include transition(400ms);
            @include padding(30px 15px 15px);
            @include box-shadow(0 0 30px 0 rgba($black, .2));
            @include calc(width, 100%, 20px);
            @include transform-translate(-50%, 0);
            @include z-index(widget-filtros-mobile);
            text-align: left;
            display: block;
            background: $white;
            position:absolute;
            left: 50%;
            z-index: 5;

            margin-top: -40px;
            opacity: 0;
            visibility: hidden;
            border: solid 1px $light;   

            // Cuando está abierto
            &.open-filters {
                opacity: 1;
                visibility: visible;
                @include transition-delay(100ms);
                margin-top: -5px;
            }
        }
    }
}

/* Filtros de ordenar y mostrar */
#{$columna-container} {
    @include clearfix;
    > form {
        max-width: 190px;
        width: 100%;
        @include padding(0 10px);

        // forms
        &.woocommerce-ordering, &.woocommerce-posts-per-page {
            margin-bottom: 30px;
        }

        // ordenar
        &.woocommerce-ordering {
            float: left;
        }
        &.woocommerce-posts-per-page {
            float: right;
        }

        @media screen and (max-width: $media-small) {
            max-width: none;
            width: 50%;
        }
    }
}

/* Estilos Adicionales Keylor => Stop click in disabled variations */
table.variations {
    .variable-items-wrapper .variable-item.disabled {
        cursor: none;
        pointer-events: none;
    }
}

// Close filter
.woof_redraw_zone > .woof_container > .woof_container_inner {
    position: relative;
    a.woof_radio_term_reset_visible,
    a.remove-filter {
        display: none;
    }
    @media screen and (min-width: $media-xs) {
        a.woof_radio_term_reset_visible,
        a.remove-filter {
            position: absolute;
            top: -2px;
            right: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: block;
            overflow: hidden;
            text-decoration: none;

            &:before {
                @include helvetica;
                @include em(12px);
                color: $color-main;
                content: '\2716';
                text-align: center;
                line-height: 20px;
                display: block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                &:before {
                    color: $color-main;
                }
            }
        }
    }
}