.woocommerce-view-order .woocommerce-MyAccount-content,
.woocommerce-order-received .woocommerce-order,
.woocommerce-order-pay .woocommerce,
.woocommerce-checkout .woocommerce {
  max-width: 720px;
  margin: auto;
  width: 100%;
}

.woocommerce-checkout {
  .entry-title {
    max-width: 720px;
  }

  #woo-form-login {
    .alert {
      margin-top: 1rem;
      margin-bottom: 0;
      display: block;
      width: 100%;
      text-align: center;

      p {
        margin-bottom: 0;
      }
    }
  }
}

/**
** Confirmación de orden
** Detalle de orden
**/
.woocommerce {
  .woocommerce-order-details,
  .woocommerce-form-pay-wrapper {
    table.shop_table {
      // @include table-shop;

      tbody {
        tr {
          td {
            text-align: right;
            ul.wc-item-meta {
              @include padding(0);
              @include em(14px);
              margin-bottom: 0;

              li:last-of-type {
                margin-bottom: 0;
              }

              p {
                display: inline-block;
                margin-bottom: 0;
                width: auto;
              }
            }
          }

          td {
            &.product-name {
              text-align: left;
            }
          }
        }
      }

      tfoot {
        tr {
          td {
            text-align: right;
          }
        }
      }

      @include tfoot;
    }
  }

  &-checkout {
    /* Plarepi */
    .woocommerce-notices-wrapper {
      display: none;
    }
    
    .entry-title {
      color: $color-main;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .content-area {
      margin: 30px auto;
    }
  }

  table.shop_table {
    border: none;
    border-collapse: collapse;

    &.woocommerce-checkout-review-order-table {
      position: relative;
    }

    thead {
      tr {
        background: $color-main;

        th {
          color: $color-secondary;
          line-height: 1.2;
          text-align: center;
          vertical-align: middle;
          @include em(16px);
          @include padding(10px);
        }
      }
    }

    tbody {
      tr {
        th,
        td {
          border: {
            /* bottom: 1px solid $color-base; */
            top: none;
          }
        }

        td {
          @include padding(10px);
          text-align: center;

          &.product-name {
            color: $black;

            .product-title {
              font-weight: $font-bold;
            }
          }

          /* Variaciones */
          dl.variation {
            @include block(0 0 12px);
            @include em(14px);
            color: $color-text;

            dt,
            dd {
              @include margin(0);
              font-weight: $font-regular;
              color: inherit;
              font-weight: normal;
              line-height: 1.3;
              color: $color-gris-60;
            }

            p {
              @include margin(0 5px 0 0);
              line-height: 1.3;
            }
          }
        }
      }
    }

    tfoot {
      tr {
        &:first-child {
          th,
          td {
            padding-top: 15px;
          }
        }
        &:last-child {
          th,
          td {
            padding-bottom: 15px;
          }
        }

        th,
        td {
          @include padding(5px 0);
        }

        td {
          text-align: center;
        }
      }
    }

    tbody,
    tfoot {
      tr {
        td {
          &:first-child {
            text-align: left;
            //padding-left: 0;
          }

          &:last-child {
            text-align: right;
            //padding-right: 0;
          }
        }
      }
    }
  }

  .woocommerce-checkout-review-order {
    tfoot {
      > tr {
        th,
        td {
          line-height: normal;
        }

        > td {
          @include padding(0);
          border: none;
        }
      }

      table.table {
        border: 0;

        tbody {
          tr {
            th,
            td {
              @include padding(10px 0);
              width: 50%;
            }
            &.cart-discount {
              .woocommerce-remove-coupon {
                @include em(12px);
                color: $color-main;
              }
            }

            th {
              text-align: left;
            }

            td {
              text-align: right;
            }

            p {
              @include margin(0 0 5px);
              line-height: normal;
            }

            &:first-child {
              th,
              td {
                padding-top: 15px;
              }
            }
          }
        }

        tr.shipping-pickup-store,
        tr.shipping {
          td {
            .select2-container {
              min-width: 100%;
            }
          }
        }
      }
    }
  }

  .woocommerce-customer-details {
    @include wc-customer-details();
  }

  .order-print {
    @include print-order();
  }

  // ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details"
  ul.order_details {
    @include order-detail;
  }

  section {
    &[class*="woocommerce-"] {
      width: 100%;
      margin: 0 auto 30px;
      padding-top: 20px;

      h2,
      h3 {
        margin-bottom: 20px;
        text-align: center;
      }

      h2 {
        @include em(26px);
        text-transform: none;
      }

      h3 {
        @include em(18px);
      }
    }

    // .order-bacs-payment {
    &[class*="bacs"] {
      @include margin(0 auto);
      max-width: 720px;

      > p {
        font-weight: $font-bold;
        text-align: center;
        line-height: normal;
      }

      h2 {
        @include subtitulo-cuenta;
        @include em(24px);
        margin-bottom: 20px;
      }
      h3 {
        color: $black;
      }
      .order_details {
        li {
          text-align: center;
          float: none;
          display: inline-block;
          &:nth-of-type(1),
          &:nth-of-type(5) {
            color: $color-main;
          }
          &:nth-of-type(2),
          &:nth-of-type(6) {
            color: $color-main;
          }
          &:nth-of-type(3) {
            color: $color-default;
          }
          &:nth-of-type(4) {
            color: $color-main;
          }
        }

        @include order-detail;
      }
    }
  }

  .woocommerce-order {
    @at-root .woocommerce-order-received {
      .entry-title {
        text-align: center;
      }
    }

    > p {
      color: $color-text;
      margin-bottom: 15px;
      line-height: 1.3;
      text-align: center;
      @include fs(25px);
      @include font-family(1);

      &.order-print,
      &:not([class]) {
        display: none;
      }
    }
  }

  /** Global .input-container wrapper **/
  .input-container {
    * {
      @include selection-none;
    }

    /*
        @include margin(0 auto);
        display: block;
        width: 80px;
        float: left;
        clear: none;
        position: relative;
        */

    // new stylefix
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    @include margin(0 auto);
    @include padding(0);
    width: 94px;
    clear: none;
    position: relative;

    .quantity-button,
    input.input-text {
      @include flex(0 0 auto);
    }

    input.input-text {
      /*
            @include box-shadow(none);
            @include calc(width, 100%, 40px);
            @include padding(0);
            @include margin(0);
            min-width: 0;
            line-height: 30px;
            text-align: center;
            display: block;
            margin: 0 auto;
            float: none;
            border: none;
            outline: none;
            color: transparent;
            text-shadow: 0 0 0 #000;
            &:hover, &:active, &:focus {
                outline: none;
            }
            */
      // new style
      @include border-radius(0);
      @include fs(12px);
      min-width: 0;
      border: none;
      text-align: center;
      max-width: 100%;
      width: 30px;
      height: auto;
      line-height: normal;
      padding: 0;
      margin: 0 0px;
      min-height: 0;
    }

    .quantity-button {
      // New style
      @include display-flex;
      @include block-size(25px);
      @include border-radius(100%);
      background-color: $gray;
      color: $white;
      border: none;
      text-align: center;
      padding: 0;

      i.fa {
        @include padding(0);
        font-size: 9px;
      }

      // menos [ - ]
      &.quantity-down {
      }

      // mas [ + ]
      &.quantity-up {
      }

      &.quantity-disabled {
        background-color: $gray-dark;
        opacity: 1;
        pointer-events: none;
        cursor: not-allowed;
      }

      // hover
      @include set-new-button-hover($gray-dark, $white);
    }
  }
}

/**
** Variations
**/
%label_detalle {
  font-weight: normal;
  color: $color-default;
  display: inline-block;
  font-size: $font-size;
  line-height: 30px;
  margin: 0;
  text-align: left;
  width: auto;
  margin-right: 10px;
}

/**
** Reset variations
**/
.woocommerce .product table.variations .reset_variations {
  display: none !important;
}

.variations_form {
  @include margin(0 0 15px);

  @at-root .woocommerce #{&} {
    table.variations {
    }
  }

  table.variations {
    margin-bottom: 0;
    border: none;

    ul li[class] {
      outline: none;
    }

    @at-root .woocommerce #{&} {
      tbody {
        tr {
          vertical-align: middle;

          td {
            @include padding(0);
            margin-bottom: 20px;

            // los selects
            select {
              width: auto;
              min-width: 0;
            }

            &.label {
              display: inline-block;
              @media screen and (min-width: 481px) {
                float: left;
              }

              @media screen and (max-width: 480px) {
                padding-right: 10px;
              }

              label {
                @extend %label_detalle;
              }
            }
          }

          td[class] ~ td[class] {
            width: 100%;
          }
        }
      }
    }
  }
}

/**
** Input Qty & Button Add to Cart layout
** Simple & Variable products
**/
form.cart {
  .qty-add-to-cart-wrapper {
    // overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap;

    .added_to_cart {
      display: none;
    }

    .woocommerce-variation-add-to-cart {
      width: 100%;
    }
  }

  .quantity,
  .add-to-cart-container {
    @include flex(0 0 auto);
  }

  .quantity {
    margin-right: 15px;
    @media (max-width: 767px) {
      margin: 0 auto 15px;
    }
  }

  .add-to-cart-container {
    @include media-breakpoint($media-small - 1px, max-width) {
      width: 100%;
    }

    .add-to-cart-container {
      @include media-breakpoint($media-small - 1px, max-width) {
        width: 100%;
      }

      .single_add_to_cart_button.button.alt {
        width: 100%;
        margin: 0;
        overflow: visible;
      }
    }
  }
}

/**
** Input Cantidad
**/
.single_variation_wrap,
form.cart {
  margin-bottom: 0;
  clear: both;
  .quantity {
    label {
      @include float;
      @extend %label_detalle;
    }
  }
}

/**
** Product meta
**/
// contenedor del sku
.product_meta {
  @include flexbox;
  @include justify-content(center);
  @include sku;
  margin-bottom: 10px;

  @include media-breakpoint($media-small) {
    @include justify-content(flex-start);
  }

  // ambos
  .sku_wrapper,
  .provedor_wrapper {
    @include float;
  }

  // provedor
  .provedor_wrapper {
    float: right;

    @media screen and (max-width: $media-md) {
      @include size(70%);
      @include block;
      line-height: 1;
    }
  }
}

.brand-wrapper {
  margin: 0 auto 15px;
  max-width: 150px;
  width: auto;
  @include media-breakpoint($media-small) {
    float: right;
  }
  span {
    width: 100%;
    background: $light;
    padding: 5px;
    border-radius: 5px;
    display: block;
    * {
      @include font-family(1);
      @include fs(14px);
      color: $color-primary;
    }
    img {
      max-width: none;
      width: 100%;
    }
  }
}

.pdf-wrapper {
  float: left;
  @media (max-width: 599px) {
    float: none;
    text-align: center;
  }
  .btn-pdf {
    @include set-new-button-style($color-text, $white);
    @include set-new-button-hover(darken($color-text, 6%), $white);
    border-radius: 25px;
  }

  @include media-breakpoint($media-sm - 1px, max-width) {
    margin-bottom: 15px;
  }
}

/**
** Product details
**/
.product {
  [class*="summary"] {
    // Ttulo principal
    @include producto-titulo {
      @include reset-content(true, !important);
      display: block;
      text-align: center;
      width: 100%;
      @include producto-titulo-ext;
    }

    .product_meta {
      @include reset-content(true, !important);
      @include producto-titulo-ext;
    }

    hr.hr {
      border-color: #f4f4f4;
      background-color: #f4f4f4;
      margin: {
        bottom: 20px;
        top: 20px;
      }
    }

    // Sub titulo
    @include producto-subtitulo;

    // Precio grande
    @include producto-precio;

    // Boton de Agregar al carrito
    @include producto-add2cart;
  }

  .tinv-wraper {
    @include clearfix;
    .tinvwl_add_to_wishlist_button {
      @include transition;
      @include button-light(false, auto);
      border: solid 1px;
      text-align: center;
      font-weight: $font-light;
      text-decoration: none;
      @include border-radius(2px);

      &:before {
        content: none;
      }
      span {
        // display: inline-block;
        position: relative;

        &:after {
          @include font-awesome("\f004");
          display: inline-block;
          margin-left: 4px;
          font-weight: $font-regular;
        }
      }
      /*
            &:hover, &:active, &:focus {
                border-color: $color-main;
                background-color: $color-main;
                color: $white;
            }
            */
    }

    // descripcion del producto
    .product-description {
      @include padding(0 0 15px);
      @include margin(0 0 15px);
      border-bottom: solid 1px color-gris(15);

      h3,
      h4 {
        color: $color-text;
      }
      h3 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

/**
** Product gallery
**/
.slick-slider {
  .slick-arrow {
    $btn_size: 60px;
    &.slick-prev,
    &.slick-next {
      @include transition($transition);
      @include transform-translate-y(-50%);
      @include z-index(btn-galeria-detalle);
      @include padding(0);
      @include block-size($btn_size);
      top: 50%;
      margin: 0;
      bottom: auto;
      background-color: rgba($black, 0.2) !important;
      text-align: center;
      line-height: $btn_size;
      color: $white;
      &:before {
        @include font-awesome;
        @include padding(0);
        @include margin(0);
        color: inherit;
        width: 100%;
        height: 100%;
        line-height: $btn_size;
        display: block;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: $color-main !important;
        color: $white;
      }
    }

    &.slick-prev {
      left: 5px;
    }

    &.slick-next {
      right: 5px;
    }
    /*
        bottom: 0;
        height: auto;
        line-height: 1;
        margin: auto;
        outline: none;
        top: 0;
        width: auto;
        z-index: 1;

        &:before {
            color: $color-main;
            // display: block;
            // height: 100%;
            // width: 100%;
            @include font-awesome;
            @include margin(0);
            @include padding(0);
        }

        &:hover, &:active, &:focus {
            color: $color-main;
        }

        &.slick-prev {
            left: 5px;
        }

        &.slick-next {
            right: 5px;
        }
        */
  }
  // NAV de los thumbnails
  &.wpis-slider-nav {
    .slick-arrow {
      $btn_size: 20px;
      &.slick-prev,
      &.slick-next {
        @include block-size($btn_size);
        opacity: 1;
        background: none !important;
        line-height: $btn_size;
        color: $color-main;
        &:hover,
        &:active,
        &:focus {
          color: $black;
        }
        @include be {
          line-height: $btn_size;
        }
      }
    }
  }
}

/**
** remove product
**/
.remove-product {
  position: relative;
  margin-left: 12px;
  @include fs(16px);

  @include be {
    @include font-awesome("\f00d");
    display: inline-block;
    color: $danger;
  }
}
