.carousel-container {
  margin-bottom: 50px;
  .wcbox-carousel-title {
    color: $color-base;
    margin-bottom: 40px;
  }
  .woocommerce {
    ul.products {
      // @include transition;

      &:not(.owl-loaded) {
        opacity: 0;
      }

      li.product {
        @include padding(0);
        @include margin(0);
        border: none;
      }

      .owl-nav {
        display: none;
      }
    }
  }
}

.tt_container {
  ul.products li.product {
    min-width: 100%;
  }
}
