// detalle del producto layout
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
}
.woocommerce {
  // &#{$detalle} {
  &.single-product #content {
    div.product {
      @include clearfix;
      // ambos contenedores
      > div {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        max-width: none;

        &.product-details-container {
          div.summary {
            @include clearfix;
            @include block;
            width: 100%;
          }
        }

        @include media-breakpoint($media-xs) {
          // &.images & info
          &.images,
          &.product-details-container {
            max-width: 50%;
          }
          &.images {
            padding-right: 15px;
          }
          &.product-details-container {
          }
        }
      }
    }
  }
}

/* Informacion del producto */
#{$detalle} {
  div.product {
    // Galeria de imagenes
    @import "_detalle-fotos.scss";

    // Select2 del detalle
    .woobt_products {
      .select2-container .select2-selection.select2-selection--single {
        line-height: 50px;
        .select2-selection__arrow b {
          line-height: 50px;
        }
      }
    }

    @at-root #{$woocommerce} {
      div.product-sharing {
        height: 42px;
        @include media-breakpoint($media-sm) {
          padding-left: 20px;
          @include justify-content(flex-end);
        }
        @include media-breakpoint($media-sm - 1px, max-width) {
          width: 100%;
        }
        @media (max-width: 599px) {
          display: block;
          text-align: center;
          vertical-align: top;
        }
        .post-sharing-title {
          color: $color-text;
          padding-right: 0;
          width: 92px;
          min-width: 0;
          @media (max-width: 599px) {
            width: auto;
            margin-right: 5px;
            display: inline-flex;
          }
        }
        ul {
          @media (max-width: 599px) {
            width: auto;
            margin-right: 5px;
            display: inline-flex;
          }
          li {
            display: block;
            &.product-share-option {
              margin-right: 5px;
              a {
                @include transition;
                @include block-size(30px);
                @include display-flex;
                color: $color-main;
                i[class] {
                  @include transition;
                  color: inherit;
                }

                &:hover,
                &:active,
                &:focus {
                  color: $color-text;
                }
              }
            }
          }
        }
      }
    }

    // titulos
    .description-title {
      @include padding(18px 20px);
      background-color: $light;
      text-transform: uppercase;
      @include fs(13px);
      color: $color-text;
    }
  }
}
// Carruseles
@import "_detalle-carruseles.scss";

// Galeria
.fancybox-bg {
  //background: rgba($white, .65);
}
.fancybox-slider-wrap {
  .fancybox-slider {
    .fancybox-placeholder {
      @include border-radius(4px);
    }
  }
}
